@import "../styles/globals.scss";

.control-center {
  margin: 20px;
  padding-left: 20px;
}

.module {
  background-color: $bg;
  color: $font-color;
  border-radius: $border;
  border: 2px solid $bg2;
  // padding: 0 $spacing-medium $spacing $spacing-medium;
  box-shadow: 0 4px 10px $bg-h;
  padding: $spacing $spacing-medium;

  &.noPadding {
    padding: 0;
  }

  .quickSettings {
    padding-top: $spacing;
  }

  .button {
    //* Previously called calendarButton
    min-width: 30px;
    min-height: 30px;
    border-radius: $border;

    label {
      &.center {
        margin-left: $spacing-small;
      }
    }
  }

  .mediaLayout {
    border-radius: $border;
    padding: $spacing $spacing-medium;

    label {
      margin: 0 $spacing-small;
    }
    .mediaButtons {
      button {
        border-radius: $border;
        margin: $spacing-small;
        padding: $spacing;

        &.media {
          min-width: 24px;
          min-height: 24px;
        }
      }
    }
  }
}
