@import "../styles/globals.scss";

.control-center {
  margin: 20px;
  padding-left: 20px;
}

.module {
  background-color: $bg;
  color: $font-color;
  border-radius: $border;
  padding: 0 $spacing-medium $spacing $spacing-medium;
  box-shadow: 0 4px 10px $bg;

  &:not(:first-child) {
    padding: $spacing $spacing-medium;
  }

  .calendarButton {
    margin: $spacing 0;
    min-width: 32px;
    border-radius: $border;

    &:hover {
      background-color: $accent;
      color: $bg;
    }

    transition: background-color, color 0.3s;
  }

  .mediaLayout {
    label {
      margin: 0 $spacing-small;
    }
    .mediaButtons {
      button {
        background-color: $bg2;
        border-radius: $border;
        margin: $spacing-small;
        padding: $spacing;
        // min-width: 195px;

        &.media {
          min-width: 30px;
        }
      }
    }
  }
}
