.metric {
  margin-top: $spacing;
  // margin-left: $spacing;
  font-size: $font-normal;
  margin-top: $spacing-medium;

  .label {
    font-weight: bold;
    font-size: $font-small;
    margin-right: $spacing-medium;
  }

  .icon {
    margin-left: $spacing-medium;
  }

  scale {
    &:hover highlight {
      background: $purple-gradient;
    }

    trough {
      background-color: $bg-h;
      border-radius: $border;
      min-height: 24px;
      // margin-left: $spacing-large;
      highlight {
        border-radius: $border;
        background-color: $bg2;

        transition: all 255ms;
      }
    }
  }
}
