.quickSettingWrap {
  background-color: $bg2;
  border-radius: $border;
  // background: $purple-gradient;

  &:hover {
    background-color: $accent;
    color: $bg;
  }

  &.disabled {
    background: $bg2;
    opacity: 0.5;

    &:hover {
      background-color: $accent;
      color: $font-color;
    }
  }

  .icon {
    font-size: $font-normal;
  }

  transition: all 0.3s;
}
