.bar-main,
.bar-external {
  background-color: #282828;
  color: #ebdbb2;
  border-radius: 0.4em;
}

.leftpanel {
  .systemTray {
    padding: 7px;

    margin-left: 5px;
    background-color: #504945;
    border-radius: 0.4em 0.4em;

    menu {
      border-radius: 0.4em;
      padding: 5px 0;
      color: #ebdbb2;

      background-color: #282828;

      > menuitem {
        padding: 0px 5px;

        &:disabled label {
          color: gray;
        }

        &:hover {
          background-color: #8abeb7;
          color: black;
        }
      }

      menuitem arrow {
        min-width: 16px;
        min-height: 16px;

        &:dir(ltr) {
          -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
          margin-left: 10px;
          margin-right: 0;
        }
      }

      menuitem check {
        border: 1px solid;
        border-radius: 0.2em;
        color: #ebdbb2;
        min-width: 14px;
        min-height: 14px;
        margin-right: 4px;

        &:checked {
          -gtk-icon-source: -gtk-icontheme("checkmark");
        }
      }

      separator {
        background-color: #222222;
        padding-top: 1px;

        &:last-child {
          padding: unset;
        }
      }
    }
  }
}

.workspaces {
  :hover {
    background-color: #8abeb7;
    color: black;

    &:first-child {
      border-radius: 0.4em 0 0 0.4em;
    }
  }

  .workspace-entry {
    margin: 0 2px;

    &.current {
      color: #8abeb7;
      font-weight: bold;
    }

    &.empty {
      opacity: 0.5;
    }
  }

  transition: background-color 0.3s;
}

.metric {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 1.4em;

  scale trough highlight {
    background-color: #8abeb7;
    border-radius: 4em;
  }

  scale trough {
    background-color: #504945;
    border-radius: 50px;
    min-height: 15px;
    min-width: 255px;
    margin-left: 15px;
  }
}
