.quickSettingWrap {
  background-color: $bg2;
  border-radius: $border;

  &:hover {
    background-color: $accent;
    color: $bg;
  }

  &.disabled {
    opacity: 0.5;
  }

  .quickSetting {
    margin-top: 4px;

    min-width: 50px;

    .icon {
      font-size: $font-normal;
    }
  }

  transition: background-color, color 0.3s;
}

.metric {
  margin-top: $spacing;
  margin-left: $spacing;
  font-size: $font-normal;

  .label {
    min-width: 40px;
    font-size: $font-small;
    margin-left: $spacing-small;
  }

  scale trough highlight {
    background-color: $accent;
    border-radius: 4em;
  }

  scale trough {
    background-color: $bg2;
    border-radius: 50px;
    min-height: 15px;
    // min-width: 255px;
    margin-left: $spacing-large;
  }
}

.workspaces {
  :hover {
    // background-color: $accent;
    // color: $bg-h;

    .workspace-entry {
      &.current {
        color: $bg-h;
      }
    }

    &:first-child {
      border-radius: $border 0 0 $border;
    }
  }

  .workspace-entry {
    min-width: 25px;
    // margin: 0 2px;

    &.current {
      // background-image: -gtk-gradient(
      //   linear,
      //   left bottom,
      //   left top,
      //   from($accent),
      //   to(mix($accent, $bg-h, 20%))
      // );
      background-color: $accent;
      // color: $bg-h;
      font-weight: bold;
    }

    &.occupied {
      // font-weight: bold;
    }

    &.empty {
      color: $font-disabled;
      opacity: 0.3;
    }
  }

  transition: background-color 0.3s;
}
